# modulo 1 machine learning udemy

## Base de dados credit_data

### Aula 1 - carregando o dataframe

In [ ]:
# carregando o dataframe com pandas
import pandas as pd
base = pd.read_csv('/content/credit_data.csv')

In [ ]:
base.describe()

### **Aula 2** - Tratando dados inconsistentes

In [ ]:
# localizando valores negativos na coluna age = idade
base.loc[base['age'] < 0]

In [ ]:
# Apagando a coluna
base.drop('age', 1, inplace=True) # (nome da coluna, 1 = apagar toda a coluna, inplacer = True nao ira atribuir a nem uma variavel)

In [ ]:
# apagar somente os registros com problema
base.drop(base[base.age < 0].index, inplace=True)

In [ ]:
# preenher os valores com a médias dos dados
base.mean()
# aqui utiliza todos os valores inclusive os errados
base['age'].mean()
# aqui aplicamos a media somente com os valores positivos
base['age'][base.age > 0].mean()

40.92770044906149

In [ ]:
# Efetuando a substituição nos valores inconsistentes
base.loc[base.age < 0, 'age'] = 40.92

### **Aula 3** - Tratamento de valore faltantes

In [ ]:
# verificando e localizando se o dataframe possui valor nulo na tabela age
pd.isnull(base['age']) # mostra toda a tabela
base.loc[pd.isnull(base['age'])] # mostra somente os valores nulos

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [ ]:
# separando o dataframe em previsores e a classe
# X
previsores = base.iloc[:, 1:4].values
# y
classe = base.iloc[:, 4].values

In [ ]:
# importando o sklearn para efetupar o processamento dos valores nulos
import numpy as np
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:,0:3])

### **Aula 4** - Escalonamento de atributos

In [ ]:
# fazendo a padronização dos previsores
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

## Base de dados censo

### **Aula 5** - Base de dados do censo

In [ ]:
import pandas as pd
# Importando o dataframe
base = pd.read_csv('/content/census.csv')

### **Aula 6** - Transformação de variaveis categóricas em variaveis numericas

In [ ]:
# separando o dataframe em X e y
previsores = base.iloc[:,0:14].values
classe = base.iloc[:, 14].values

In [ ]:
# aqui faz transformação das string por numeros conrespondendo a cada valor.
from sklearn.preprocessing import LabelEncoder
labelencoder_previsores = LabelEncoder()
#labels = labelencoder_previsores.fit_transform(previsores[:, 1])
#efetuando a transformação na tabela 2 da base de dados.
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])

In [ ]:
# convertendo as outras tabelas restantes.
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [ ]:
# Tratando os previsores antes de executar o codio a baixo
previsores = base.iloc[:,8:9].values

In [ ]:
previsores[:, 0] = labelencoder_previsores.fit_transform(previsores[:, 0])

In [ ]:
# essa estratégia é utilizanda quando um valor nao pode ser considerado melhor que o outro
# como preto e branco.
# tratando a coluna race com o metodo de variavel "Dummy". 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [ ]:
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)

### **Aula 7** - Escalonamento dos valores

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

## **Aula 8** - Avaliação de algoritimo

In [ ]:
# separando os dados em treinamento e teste.
from sklearn.model_selection import train_test_split

previsores_treinamento, previsores_test, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.25, random_state=0)

# Arvore de decisão