# modulo 1 machine learning udemy

## Base de dados credit_data

### Aula 1 - carregando o dataframe

In [3]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.1.1-cp38-cp38-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 263 kB/s eta 0:00:01    |███████████████▌                | 5.0 MB 201 kB/s eta 0:00:27
Collecting numpy>=1.15.4
  Downloading numpy-1.19.1-cp38-cp38-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 121 kB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/sanderpaniago/.local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
Installing collected packages: numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/home/sanderpaniago/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.19.1 pandas-1.1.1

In [4]:
# carregando o dataframe com pandas
import pandas as pd
base = pd.read_csv('../data_base/credit_data.csv')

In [5]:
base.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

### **Aula 2** - Tratando dados inconsistentes

In [ ]:
# localizando valores negativos na coluna age = idade
base.loc[base['age'] < 0]

In [ ]:
# Apagando a coluna
base.drop('age', 1, inplace=True) # (nome da coluna, 1 = apagar toda a coluna, inplacer = True nao ira atribuir a nem uma variavel)

In [ ]:
# apagar somente os registros com problema
base.drop(base[base.age < 0].index, inplace=True)

In [ ]:
# preenher os valores com a médias dos dados
base.mean()
# aqui utiliza todos os valores inclusive os errados
base['age'].mean()
# aqui aplicamos a media somente com os valores positivos
base['age'][base.age > 0].mean()

40.92770044906149

In [ ]:
# Efetuando a substituição nos valores inconsistentes
base.loc[base.age < 0, 'age'] = 40.92

### **Aula 3** - Tratamento de valore faltantes

In [ ]:
# verificando e localizando se o dataframe possui valor nulo na tabela age
pd.isnull(base['age']) # mostra toda a tabela
base.loc[pd.isnull(base['age'])] # mostra somente os valores nulos

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [ ]:
# separando o dataframe em previsores e a classe
# X
previsores = base.iloc[:, 1:4].values
# y
classe = base.iloc[:, 4].values

In [ ]:
# importando o sklearn para efetupar o processamento dos valores nulos
import numpy as np
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:,0:3])

### **Aula 4** - Escalonamento de atributos

In [ ]:
# fazendo a padronização dos previsores
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

## Base de dados censo

### **Aula 5** - Base de dados do censo

In [ ]:
import pandas as pd
# Importando o dataframe
base = pd.read_csv('/content/census.csv')

### **Aula 6** - Transformação de variaveis categóricas em variaveis numericas

In [ ]:
# separando o dataframe em X e y
previsores = base.iloc[:,0:14].values
classe = base.iloc[:, 14].values

In [ ]:
# aqui faz transformação das string por numeros conrespondendo a cada valor.
from sklearn.preprocessing import LabelEncoder
labelencoder_previsores = LabelEncoder()
#labels = labelencoder_previsores.fit_transform(previsores[:, 1])
#efetuando a transformação na tabela 2 da base de dados.
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:, 1])
# [:, 1] o primeiro parametro indica para selecionar todas as linhas, e o segundo a coluna.

In [ ]:
# convertendo as outras tabelas restantes.
previsores[:, 3] = labelencoder_previsores.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:, 6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:, 7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:, 9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:, 13])

In [ ]:
# Tratando os previsores antes de executar o codio a baixo
previsores = base.iloc[:,8:9].values

In [ ]:
previsores[:, 0] = labelencoder_previsores.fit_transform(previsores[:, 0])

In [ ]:
# essa estratégia é utilizanda quando um valor nao pode ser considerado melhor que o outro
# como preto e branco.
# tratando a coluna race com o metodo de variavel "Dummy". 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [ ]:
labelencoder_classe = LabelEncoder()
classe = labelencoder_classe.fit_transform(classe)

### **Aula 7** - Escalonamento dos valores

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

## **Aula 8** - Avaliação de algoritimo

In [ ]:
# separando os dados em treinamento e teste.
from sklearn.model_selection import train_test_split

previsores_treinamento, previsores_test, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.25, random_state=0)

# Arvore de decisão